[submodule "metas/meta-openembedded"]
	path = metas/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "metas/meta-erlang"]
	path = metas/meta-erlang
	url = https://github.com/joaohf/meta-erlang
